@import 'tailwindcss';
@import 'element-plus/dist/index.css';
* {
  font-family: 'Nata Sans', sans-serif;
  font-optical-sizing: auto;
}

:root{
  --text-gray: rgb(160, 157, 157);
  --text-blue: #155dfc;
  --green: rgb(20, 231, 20);
}

body {
  /* background: linear-gradient(180deg, #0a0a0a 0%, #1c1c1c 100%); */
}

.gray {
  color: var(--text-gray);
}
.blue {
  color: var(--text-blue);
}
.green{
  color: var(--green);
}


#nprogress .bar {
  background: #155dfc !important; /* matches your dashboard blue */
  height: 2px !important;         /* thin and modern */
}

#nprogress .peg {
  box-shadow: 0 0 10px #155dfc, 0 0 5px #155dfc !important;
}

#nprogress .spinner {
  display: none !important;
}
